language: node_js
notifications:
  email: false
node_js:
  - '4'
before_install:
  - npm install -g npm5
before_script:
  - npm prune
after_success:
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
